* {
    box-sizing: border-box;
}

body {
    background-image: url(propose.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}

strong {
    color: rgb(255, 0, 0);
}

p {
    text-align: center;
    font-size: 40px;
}

#bini{
    color: rgb(95, 184, 219);
}
#yes-btn {
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    top: 80%;
    left: 20%;
    position: absolute;
    background-color: rgb(24, 207, 24);
    border: none;
    border-radius: 8px;
}

#runaway-btn {
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 100;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #ff4757;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    position: fixed;
    transition: 0.001s;
    right: 20%;
    top: 80%;
    translate: (-50%, -50%);
}